<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/resources/app.css"/>
<script src="/resources/jquery.js"></script>
</head>
<body>
	<h1>Where are you going to spend your next weekend?</h1>
	<div class="cities">
	<div>
<script src="/resources/city.js"></script>
</body>
</html> 
