<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/resources/app.css"/>
<script src="/resources/jquery.js"></script>
<script src="/resources/handlebars.js"></script>
<script id="city-template" type="text/x-handlebars-template">
  <div class="city">
    <header class="city-name">{{name}}</header>
    <img src="{{image}}" class="city-picture"></img>
    <div class="attractions">
      <header>Attractions</header>
      <div class="list" style="display:none"></div>
    </div>
  </div>
</script>
<script id="attraction-template" type="text/x-handlebars-template">
  <div>{{name}}</div>
</script>
</head>
<body>
  <h1>Where are you going to spend your next weekend?</h1>
  <div class="cities">
  <div>
<script src="/resources/city.js"></script>
</body>
</html>
